<form action="/inventory/update/<%= item._id %>" method="post">
    <label>Title:</label>
    <input type="text" name="media_title" value="<%= item.media_title %>" required>
    
    <label>Author:</label>
    <input type="text" name="author" value="<%= item.author %>" required>
    
    <label>Genre:</label>
    <select name="genre_id">
        <% genres.forEach(genre => { %>
            <option value="<%= genre._id %>" <%= genre._id.equals(item.genre_id._id) ? 'selected' : '' %>><%= genre.genre_description %></option>
        <% }) %>
    </select>
    
    <label>Quantity:</label>
    <input type="number" name="quant" value="<%= item.quant %>" required>
    
    <button type="submit">Update Book</button>
</form>
