

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
</head>
<body>
    <p>Your role is: <%= user.role %></p>
    <%- include('../layout.ejs', { user}) %>

    <h1>Library Inventory</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% inventory.forEach(item => { %>
                <tr>
                    <td><%= item.title %></td>
                    <td><%= item.author %></td>
                    <td><%= item.status %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
