<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <%- include('../layout.ejs', {user}) %>
    <div class = "show_media">
      <nav class="sidebar">
            <ul>
                <li><a href="/user/profile" class="<%= (typeof activePage !== 'undefined' && activePage === 'profile') ? 'active' : '' %>">Update Details</a></li>
                <li><a href="/user/wishlist" class="<%= (typeof activePage !== 'undefined' && activePage === 'wishlist') ? 'active' : '' %>">My wishlist</a></li>
                <li><a href="/user/borrowed_media" class="<%= (typeof activePage !== 'undefined' && activePage === 'borrowed_media') ? 'active' : '' %>">Borrowed media</a></li>
                <li><a href="#billing">Manage Subscription</a></li>
            </ul>
        </nav>
   <main class="content">
        <div class="search-bar">
        <form action="/search" method="GET">
            <input 
                type="text" 
                name="query" 
                placeholder="Search for media..." 
                class="search-input"
                value="<%= typeof query !== 'undefined' ? query : '' %>" />
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>

        <div class="card-grid">
            <% items.forEach(item => { %>
                <div class="card">
                    <a href="/user/view_media/<%= item._id %>"><h2 class="media-title">Title: <%= item.media_title %></h2></a>
                    <h3>Author: <%= item.author %></h3>
                    <h3>Genre: <%= item.genre_id.genre_description %></h3>
                    <h3>Status: <%= item.quant %></h3>
                </div>
            <% }) %>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p class="footer-number">07477045595</p>
            <div class="footer-links">
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></a>
                <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a>
                <a href="https://x.com" target="_blank"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>
